<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/layout :: head"></head>
<body class="hold-transition skin-red sidebar-mini">
    <header th:replace="admin/fragments/layout :: header"></header>
  	 <aside th:replace="admin/fragments/layout :: sidebar" class="main-sidebar"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->    
     <section class="content-header">
      <h1>
       Slides<small th:text="${h1}"> Add Item</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href='@{~/admin}'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a th:href='@{~/admin/slides}'> slides</a></li>
        <li class="active" th:text="${h1}"> Add</li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
    	<div class="row">
     	
    		<form method="post" id="frm_slides_edit"  novalidate="novalidate" th:action="@{~/admin/slide/save}" th:object="${slide}">
    			<div class="col-md-9">
    					<div class="box box-primary" >     
    						<div class="box-header with-border">
    								 		  <!-- /* Handle the flash message */-->
									    <th:block th:if="${message != null}">
									        <!-- /* The message code is returned from the @Controller */ -->
									        <div th:replace="admin/fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
									    </th:block>
									      <!-- /* end Handle the flash message */-->
    						</div>    
				            <div class="box-body">
				               		  <input type="hidden"  th:field="*{id}">
				               		 
								<div class="form-group">
									<label >Name</label>
									 <input class="form-control"   type="text" th:field="*{name}" th:errorclass="field-error">
									 <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  class="error"></label>
								</div>
									
									
							</div>
							 <div class="box-footer">
								 	<button type="submit" class="btn btn-primary">Save</button>
								 </div>
							 
				       </div>
    			</div>
    			<div class="col-md-3">
  					 <div class="box box-primary">
						        <div class="box-header with-border">
								    <h3 class="box-title"><i class="fa fa-tag"></i> Feature Image</h3>
								      <div class="box-tools pull-right">
							            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			          				</div>
						        </div> 
						        <div class="box-body">
						        		<div id="feature_image_div">
						        			<img class="img img-responsive" th:if="${!#strings.isEmpty(slide.image)}" th:src="@{'~/upload/slide/' +${slide.image}}">
						        		</div>
								    			<div class="form-group">
								    					<input type="hidden" value="no_image.jpg"  th:field="*{image}" id="feature_image_input">
								    					<a href="javascript:void(0);" id="feature_image_btn"> Set feature image</a>	
								    			</div>
						        </div>
						        <!-- /.box-body -->
						      </div>
    			</div>
    		</form>
    	</div>
    	
	</section>
    <!-- /.content -->
  </div>

   <iframe id="form_target_frame" name="form_target" style="display:none"></iframe>
			<form id="my_form_uploadslides"  target="form_target" method="post" 
						enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
							<input id="txtimage_slides" name="img" type="file" data-ideditor="my_editor_slides">
				</form>	 	
	<input id="txtimage_slides_feature" name="img" type="file" style="display:none" >				
  <!-- /.content-wrapper -->
  
<script src="js/slides/main.js"></script>
  	 

    <footer th:replace="admin/fragments/layout :: footer"></footer>
</body>
</html>