.header-support {
    padding-top: 30px;
    width: 300px;
    float: right;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.supportBorder {
    
    height: 50px;
    padding-left: 80px;
    font-size: 14px;
    color: #7cbb01;
    font-weight: bold;
    font-family: sans-serif;
}

.navbar-nav>li>a:hover {
    border-bottom: 1px solid #5cb85c;
}
.navbar-default .navbar-nav>li>a {
    color: #7cbb01;
    font-weight: bold;
    font-size: 14px; 
    margin-top: 5px;
    margin-left: -15px;
    height: 50px;
}
.col-sm-5 {
    width: 41.66666667%;
    left: 190px;
    top: -42px;
}
.col-sm-6 {
    margin-top: 20px;
    width: 50%;
    font-size: 17px;
    margin-bottom: 20px;
   
}.navbar-nav>li>a {
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    color: wheat;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    background: #ddd;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: white;
    box-shadow: -1px -1px 0px 20px white;
}
.col-sm-12 {
    z-index: 1;
}
.col-md-12 img {
    margin-top: 10px;
} 
.col-md-12 ul li h4 {
    margin-top: 40px;
} 
.col-sm-6 {
    margin-top: 20px;
    width: 50%;
    font-size: 17px;
    margin-bottom: 20px;
}

.ui.menu .active.item {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    font-weight: 400;
    box-shadow: none;
}
.col-sm-4 img {
    display: inline-block;
    border: solid 4px #e5e5e5;
    background: none;
    border-radius: 1px;
}
.col-md-4 h4 {
    margin-top: 40px;
}
.col-md-4 a {
    color: #7cbb01;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
.text {
    margin-bottom: 20px;
}
h2,h3 {
    color: #7cbb01;
    font-weight: bold;
}
.breadcrumb {
    font-weight: bold;
    color: white;
    border-radius: 1px;
    padding: 2px 18px;
    font-size: 13px;
}
a:hover, a:focus {
   color: #fff;
}

.pagination>li>a, .pagination>li>span {
    color: #7cbb01;
    text-align: center;
    border: none;
}
.listProduct {
    padding: 0 6px;
    display: inline-block;
    width: 100%;
    margin: 15px 0 0 0;
    list-style: none;    
}
@media (min-width:320px) and (max-width:480px){
    .navbar-default .navbar-nav>li>a {
    color: #7cbb01;
    font-weight: bold;
    font-size: 12px; 
    margin-top: 5px;
    margin-left: -15px;
    height: 50px;
}
}
.col-md-4 a {
    color: #7cbb01;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}
.listProduct p {
    margin-top: 25px;
}
.modal-body {
    position: relative;
    padding: 20px;
    text-align: left;
}
b, strong {
    font-weight: 700;
}
.w3-round-large {
     border-radius: 1px;
}
.w3-btn, .w3-button {
 padding: 2px 15px; 
 font-size: 14px;
}
#footer span{
    color: #7cbb01;
}
