<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/layout :: head"></head>
<body class="hold-transition skin-red sidebar-mini">
    <header th:replace="admin/fragments/layout :: header"></header>
  	 <aside th:replace="admin/fragments/layout :: sidebar" class="main-sidebar"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->    
     <section class="content-header">
      <h1>
       Email <small th:text="${h1}"> Reply email</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href='@{~/admin}'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a th:href='@{~/admin/emails}'> Email feadback</a></li>
        <li class="active" th:text="${h1}"> Reply</li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<form method="post" id="frm_email_reply"  novalidate="novalidate" th:action="@{~/admin/email/send}" th:object="${emailfeedback}">
    			<div class="col-md-9">
    					<div class="box box-primary" >     
    						<div class="box-header with-border">
    								 		  <!-- /* Handle the flash message */-->
									    <th:block th:if="${message != null}">
									        <!-- /* The message code is returned from the @Controller */ -->
									        <div th:replace="admin/fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
									    </th:block>
									      <!-- /* end Handle the flash message */-->
    						</div>    
				            <div class="box-body">
				               		  <input type="hidden"  th:field="*{id}">
				               		  <input type="hidden"  th:field="*{contactId}">
				               		  <input type="hidden"  th:field="*{userId}">
								<div class="form-group">
									<label >subject</label>
									 <input class="form-control"   type="text" th:field="*{subject}" th:errorclass="field-error">
									 <label th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"  class="error"></label>
								</div>
								<div class="form-group">
									<label >From User</label>
									 <input class="form-control"   type="text" th:field="*{fromEmail}" th:errorclass="field-error">
									 <label th:if="${#fields.hasErrors('fromEmail')}" th:errors="*{fromEmail}"  class="error"></label>
								</div>
								<div class="form-group">
									<label >To Contact</label>
									 <input class="form-control"   type="text" th:field="*{toEmail}" th:errorclass="field-error">
									 <label th:if="${#fields.hasErrors('toEmail')}" th:errors="*{toEmail}"  class="error"></label>
								</div>
								<div class = "input-group">
	                                <textarea  id="my_editor_email"   rows="8" cols="120"  class="form-control"   th:field="*{content}" placeholder="Content..."> </textarea> 
	                            </div>
									
									
							</div>
							 <div class="box-footer">
								 	<button  type="button" class="btn btn-primary" id="btnSendEmail">Send</button>
							</div>
							 
				       </div>
    			</div>
    		</form>
    	</div>
    	
	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
	<iframe id="form_target_frame" name="form_target" style="display:none"></iframe>
			<form id="my_form_uploademail"  target="form_target" method="post" 
						enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
							<input id="txtimage_email" name="img" type="file" data-ideditor="my_editor_email">
				</form>	
    <footer th:replace="admin/fragments/layout :: footer"></footer>
    
    
    <script src="js/emails/main.js"></script>
</body>
</html>