 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

         <div class="mailbox-controls" th:fragment='mailbox-control'>
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" id="dotrash1" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
               
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                <div class="pull-right">
                  ${pag.s_recore}-${pag.t_recore}/${pag.total_record}
                  <div class="btn-group">
                     <a href="admin/sent?p=${pag.previousp}" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></a>
                    <a href="admin/sent?p=${pag.nextp}" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></a>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
    </body>
</html>
    